#wrap {
    width: 100%;
    min-width: 1600px;
}

.inner {
    width: 1180px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

#top {
    width: 100%;
}

#top .inner {
    background-color: palegreen;
}

#top .inner ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100px;
}

#top .inner ul li {
    margin: 0px 100px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

#main {
    width: 100%;
}

#main .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: paleturquoise;
}

#main .inner .small,
#main .inner .big {
    width: 500px;
    height: 700px;
    border: 1px solid #000;
}

#main .inner .small .paging {
    /* background-color: khaki; */
    height: 30px;
    width: 60px;
    position: absolute;
    top: 86%;
    left: 457px;
    align-content: center;
    text-align: center;
    font-size: 15px;
}

#main .inner .small .photoOut {
    height: 500px;
    width: 350px;
    border: 1px solid black;
    position: absolute;
    left: 14%;
    top: 14%;
}

#main .inner .small .photoIn {
    height: 350px;
    width: 350px;
    border: 1px solid black;
    position: absolute;
    left: -1px;
    top: -1px;
}

#main .inner .small .photoOut .photoIn h2 {
    /* background-color: green; */
    height: 40px;
    width: 80%;
    position: absolute;
    top: 103%;
    left: 10%;
    align-content: center;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
}
#main .inner .small .photoOut .photoIn p {
    /* background-color: gold; */
    height: 70px;
    width: 80%;
    position: absolute;
    top: 116%;
    left: 10%;
    align-content: center;
    text-align: center;
    font-size: 25px;
}
#main .inner .small .photoOut .photoIn span {
    /* background-color: springgreen; */
    height: 20px;
    width: 110px;
    position: absolute;
    top: 137%;
    left: 240px;
    align-content: center;
    text-align: center;
    font-size: 15px;
}

#main .inner .small .photoOut .photoIn .left {
    font-size: 35px;
    position: absolute;
    top: 41%;
    left: -16%;
    cursor: pointer;
}
#main .inner .small .photoOut .photoIn .right {
    font-size: 35px;
    position: absolute;
    top: 41%;
    right: -16%;
    cursor: pointer;
}

#main .inner .small .photoOut .photoIn img {
    height: 100%;
    width: 100%;
}

#main .inner .big img {
    height: 100%;
    width: 100%;
}

#bottom {
    width: 100%;
}

#bottom .inner {
    height: 100px;
    background-color: peachpuff;
}
